# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\CHAMPALET\OneDrive - Institut Catholique de Lille\Bureau\SDN_L3\DesignPatern\TP-Reigns\tp_reigns-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
